## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
local.mk
creation
Sandbox
Workshops
diversity_metrics
creation
Sandbox
Workshops
diversity_metrics
competenceFramework
rabies_report
MMED
MMEDparticipants
mbfuture
fgc
commit.time
commit.default
dotdir/
clonedir/
creation
Sandbox
Workshops
diversity_metrics
competenceFramework
rabies_report
MMED
MMEDparticipants
fgc
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
.ignore
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
.texdeps/
rarity.pdf
rarity.out
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
