.gitignore.R
.RData
.Rhistory
.Rproj.user
*.Rproj
*.RData
/figures
/data/GUEsims*
/data/fromR/
makestuff/
slurm*
/data/SAD_7_l_0*
data/big*
makestuff
data/obs*
data/asy*
data/asy_SAD*
debug.log
data/asy_SAD1.csv data/asy_SAD10.csv data/asy_SAD11.csv data/asy_SAD12.csv data/asy_SAD13.csv data/asy_SAD14.csv data/asy_SAD15.csv data/asy_SAD16.csv data/asy_SAD17.csv data/asy_SAD18.csv data/asy_SAD19.csv data/asy_SAD2.csv data/asy_SAD20.csv data/asy_SAD21.csv data/asy_SAD22.csv data/asy_SAD23.csv data/asy_SAD24.csv data/asy_SAD3.csv data/asy_SAD4.csv data/asy_SAD5.csv data/asy_SAD6.csv data/asy_SAD7.csv data/asy_SAD8.csv data/asy_SAD9.csv
